language: rust
os:
  - linux
  - osx
rust:
  - 1.16.0
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
script:
  - "cargo build --verbose --package serial-core"
  - "cargo test --verbose --package serial-core"
  - "cargo build --verbose --package serial-unix"
  - "cargo test --verbose --package serial-unix"
  - "cargo build --verbose --package serial"
  - "cargo test --verbose --package serial"
